body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: rgb(238, 241, 225);
  color: rgb(255, 255, 254);
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 3em;
  padding: 1em;
  background-color: rgb(74, 74, 74);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}

h3 {
  text-align: center;
  margin-top: 0;
}

.name-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.5em 1em 0.5em;
}

label {
  text-align: center;
  margin-bottom: 0.5em;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}

select {
  font-size: 1em;
  border-radius: 0.3em;
  padding: 0.3em;

  appearance: none;
  color: rgba(74, 74, 74, 0.7);
  background-color: rgb(246, 246, 232);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.select-arrow {
  position: absolute;
  top: 35%;
  right: 0.5em;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: rgba(74, 74, 74, 0.7);
  padding: 0;
  margin: 0;
  pointer-events: none;
  outline: none;
  z-index: 1;
}

input,
textarea {
  border-radius: 0.3em;
  padding: 0.3em;
  background-color: rgb(246, 246, 232);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

input::placeholder,
textarea::placeholder {
  color: rgb(74, 74, 74, 0.7);
}

.button {
  justify-self: center;
}
