header {
  padding: 0 30px;
  position: fixed;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

h3 {
  color: #5670ff;
  margin: 0.5em 0 0.3em;
  font-size: 1.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h5 {
  letter-spacing: 0.3em;
  font-size: 0.9em;
  margin: 0.5em 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p:first-child {
  margin-top: 80px;
}

p {
  font-family: "Courier New", Courier, monospace;
  margin: 0.3em 0;
  position: relative;
}
